<div class="product-details" *ngIf="tecido">
    <div class="property-value" *ngIf="tecido.fornecedor_id" >{{inFornecedor(tecido.fornecedor_id)}}</div>
    <h1>{{tecido.nome}}</h1>
    <div class="product-image">
        <img src="{{baseApiUrl}}uploads/{{tecido.image}}" alt="{{tecido.nome}}">
    </div>
<!-- Large modal -->
<div type="button" z="10" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg"><i class="bi-arrows-fullscreen btn btn-custom"></i></div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <img src="{{baseApiUrl}}uploads/{{tecido.image}}" alt="{{tecido.nome}}">
    </div>
  </div>
</div>
    <div class="product-info">
        <div class="product-property">
            <div class="property-label">Nome do Tecido:</div>
            <div class="property-value">{{tecido.nome}}</div>
        </div>
        <div class="product-property">
            <div class="property-label">Composição:</div>
            <div class="property-value">{{tecido.composicao}}</div>
        </div>
        <div class="product-property">
            <div class="property-label">Gramatura:</div>
            <div><span class="property-value">{{tecido.gramatura}}</span><span class="unidades"> g/m²</span></div>
        </div>
        <div class="product-property">
            <div class="property-label">Rendimento:</div>
            <div><span class="property-value">{{tecido.rendimento}}</span><span class="unidades"> m/kg</span></div>
        </div>
        <div class="product-property">
            <div class="property-label">Acabamento:</div>
            <div class="property-value">{{tecido.acabamento}}</div>
        </div>
        <div class="product-property">
            <div class="property-label">Referência:</div>
            <div class="property-value">{{tecido.referencia}}</div>
        </div>
        <div class="product-property">
            <div class="property-label">Característica:</div>
            <div class="property-value">{{tecido.caracteristica}}</div>
        </div>
        <div class="product-property">
            <div class="property-label">Favorito:</div>
            <div class="property-value" *ngIf="tecido.favoritar == 1; then favorito else naoFavorito"></div>
            <ng-template #favorito>sim</ng-template>
            <ng-template #naoFavorito>não</ng-template>
        </div>

        <div class="product-property">
            <div class="property-label">Tecnologias:</div>
            <span class="property-label" *ngIf="tecido.uv">UV</span>
            <span class="property-label" *ngIf="tecido.dry">DRY</span>
            <span class="property-label" *ngIf="tecido.insect">INSECT</span>
            <span class="property-label" *ngIf="tecido.smart">SMART</span>
            <span class="property-label" *ngIf="tecido.defense">DEFENSE</span>
            <span class="property-label" *ngIf="tecido.chlomax">CHLOMAX</span>
            <span class="property-label" *ngIf="tecido.hydro">HYDRO</span>
            <span class="property-label" *ngIf="tecido.eco">ECO</span>
            <span class="property-label" *ngIf="tecido.shield">SHIELD</span>
            <span class="property-label" *ngIf="tecido.undertech">UNDERTECH</span>
            <span class="property-label" *ngIf="tecido.ultraflex">ULTRAFLEX</span>

            <span class="property-label" *ngIf="tecido.durabilidade">DURABILIDADE</span>
            <span class="property-label" *ngIf="tecido.toqueaveludado">TOQUE AVELUDADO</span>
            <span class="property-label" *ngIf="tecido.respirabilidade">RESPIRABILIDADE</span>
            <span class="property-label" *ngIf="tecido.duplaface">DUPLA FACE</span>
            <span class="property-label" *ngIf="tecido.leveza">LEVEZA</span>
            <span class="property-label" *ngIf="tecido.altacobertura">ALTA COBERTURA</span>
            <span class="property-label" *ngIf="tecido.elasticidade">ELASTICIDADE</span>
            <span class="property-label" *ngIf="tecido.secagemrapida">SECAGEM RÁPIDA</span>
            <span class="property-label" *ngIf="tecido.toquegelado">TOQUE GELADO</span>
            <span class="property-label" *ngIf="tecido.toquemacio">TOQUE MACIO</span>
            <span class="property-label" *ngIf="tecido.toquedebrilho">TOQUE DE BRILHO</span>
            <span class="property-label" *ngIf="tecido.zerotransparencia">ZERO TRANSPARÊNCIA</span>
            <span class="property-label" *ngIf="tecido.naoesgarca">NÃO ESGARÇA</span>
            <span class="property-label" *ngIf="tecido.naopinica">NÃO PINICA</span>
            <span class="property-label" *ngIf="tecido.oekotex">OEKO-TEX</span>
            <span class="property-label" *ngIf="tecido.compressao">COMPRESSÃO FIRME</span>
            <span class="property-label" *ngIf="tecido.controledeodor">CONTROLE DE ODOR</span>
        </div>

        <div class="product-property">
            <div class="property-label">Prazo de entrega:</div>
            <div class="property-value">{{tecido.prazoentrega}}<span class="unidades"> dias</span></div>
        </div>
        <div class="product-property">
            <div class="property-label">Prazo de desenvolvimento:</div>
            <div class="property-value">{{tecido.prazodesenvolvimento}}<span class="unidades"> dias</span></div>
        </div>

          <div class="product-property">
            <div class="property-label">Preço à vista:</div>
            <div class="property-value" *ngIf="tecido.prazo">{{formatarPreco(tecido.avista)}}</div>
          </div>
          
          <div class="product-property">
            <div class="property-label">Preço a prazo:</div>
            <div class="property-value" *ngIf="tecido.prazo">{{ formatarPreco(tecido.prazo) }}</div>
          </div>
        <div class="product-property">
            <div class="property-label">Complemento:</div>
            <div class="property-value">{{tecido.observacao}}</div>
        </div>
    </div>
<!--Dados do Fornecedor-------------------------------------------------------------------->

          <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="btn btn-light">
                <div>Fornecedor:</div>
                <div>{{fornecedor?.nome}}</div>
            </div>
          </button>
          
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <div class="product-info">
                <div class="product-property3">
                    <div class="property-label">Email:</div>
                    <div class="property-value">{{fornecedor?.email}}</div>
                </div>
                <div class="product-property3">
                    <div class="property-label">Telefone:</div>
                    <div class="property-value">{{fornecedor?.telefone}}</div>
                </div>
                <div class="product-property3">
                    <div class="property-label">WhatsApp:</div>
                    <div class="property-value">{{fornecedor?.whatsapp}}</div>
                </div>
                <div class="product-property3">
                    <div class="property-label">Endereço:</div>
                    <div class="property-value">{{fornecedor?.endereco}}</div>
                </div>
                <div class="product-property3">
                    <div class="property-label">Site:</div>
                    <div class="property-value">{{fornecedor?.site}}</div>
                </div>
                <a routerLink="/pesquisa/fornecedor/{{fornecedor?.id}}">Pagina do Fornecedor</a>
        </div>
      </div>
    </div>
    <!------------------------------------------------------------------------------------------>

    <div class="actions">
        <a routerLink="/tecido/edit/{{tecido.id}}" class="edit-btn btn btn-primary">
            <fa-icon [icon]="faEdit"></fa-icon> Editar
        </a>
        

        <button class="remove-btn btn btn-danger" (click)="exibirMensagemDeConfirmacao(tecido.id!)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <fa-icon [icon]="faTimes"></fa-icon> Excluir
        </button>
    </div>
</div>


