
<div class="home-container">
    <h1>Fornecedores</h1>
    <div class="search-container">
        <form>
            <input 
                type="text" 
                class="form-control" 
                placeholder="Buscar por Fornecedor..."
                (input)="search($event)"
                >
        </form>
    </div>
    <div *ngIf="fornecedores.length>0; else noTecidos">
        <div class="row">
            <div class="col-6 col-md-4" *ngFor="let fornecedor of fornecedores | paginate: { itemsPerPage: 6, currentPage: page, totalItems: fornecedores.length }">
                <div class="moment" routerLink="{{fornecedor.id}}">
                    <div class="product-image">
                    <img src="{{baseApiUrl}}uploads/{{fornecedor.image}}" alt="{{fornecedor.nome}}"/>
                    </div>
                    
                    <div class="moment-description">
                        <h4>{{fornecedor.nome}}</h4>
                        <p class="date">Em: {{fornecedor.created_at}}</p>
                        <p>Site: {{fornecedor.site}}</p>
                        <p>Fornecedor: {{fornecedor.nome}}</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <ng-template #noTecidos>
        <h1>Fornecedor Não encontrado!</h1>
    </ng-template>
</div>
