<nav>
    <a class="brand" routerLink="/">
        <img src="/assets/textil.png" alt="Tecidos"/>
        <h2>AppTecidos</h2>
    </a>
    <ul class="links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">Sobre</a></li>
        <li><a routerLink="/cadastro/fornecedor">Cadastro Fornecedor</a></li>
        <li><a routerLink="/cadastro/tecido">Cadastro Tecido</a></li>
        <li><a routerLink="/pesquisa/fornecedor">Pesquisa Fornecedor</a></li>
        <li><a routerLink="/pesquisa/tecido">Pesquisa Tecido</a></li>
    </ul>
</nav>
