<div *ngIf="tecido">
    <h2>
        Editando o Tecido <span>{{tecido.nome}}</span>
    </h2>
    <!--Formulario-----[tecidoData]="tecido"----[btnText]="btnText"---------------------------->
    <form 
    (ngSubmit)="submit()"
    [formGroup]="tecidoForm" 
    #formDir="ngForm"

>   <div class="form-floating mb-3">
    <input type="text" class="form-control" placeholder=" " formControlName="nome" required>
    <label for="floatingInput">Nome do Tecido:</label>

    <div *ngIf="nome.invalid && formDir.submitted">
        <div class="alert alert-danger" role="alert" *ngIf="nome.errors?.['required']">
            O nome do Tecido é obrigatório.
        </div>
    </div>

  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" placeholder=" " formControlName="composicao">
    <label for="floatingInput">Composição:</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" placeholder=" " formControlName="gramatura" pattern>
    <label for="floatingInput">Gramatura:</label>
    <div *ngIf="gramatura.invalid && formDir.submitted">
        <p *ngIf="gramatura.errors?.['pattern']" class="alert alert-danger" role="alert" >Esse campo só aceita números.</p>
    </div>
  </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder=" " formControlName="rendimento" pattern>
        <label for="floatingInput">Rendimento:</label>
        <div *ngIf="rendimento.invalid && formDir.submitted">
            <p *ngIf="rendimento.errors?.['pattern']" class="alert alert-danger" role="alert" >Esse campo só aceita números menores que 100.</p>
        </div>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder=" " formControlName="acabamento">
        <label for="floatingInput">Acabamento:</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder=" " formControlName="referencia">
        <label for="floatingInput">Referencia:</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder=" " formControlName="prazoentrega" pattern>
        <label for="floatingInput">Prazo de entrega:</label>
        <div *ngIf="prazoentrega.invalid && formDir.submitted">
            <p *ngIf="prazoentrega.errors?.['pattern']" class="alert alert-danger" role="alert" >Esse campo só aceita números.</p>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder=" " formControlName="prazodesenvolvimento" pattern>
        <label for="floatingInput">Prazo de desenvolvimento:</label>
        <div *ngIf="prazodesenvolvimento.invalid && formDir.submitted">
            <p *ngIf="prazodesenvolvimento.errors?.['pattern']" class="alert alert-danger" role="alert" >Esse campo só aceita números.</p>
        </div>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder=" " formControlName="avista" pattern>
        <label for="floatingInput">Preço À Vista:</label>
        <div *ngIf="avista.invalid && formDir.submitted">
            <p *ngIf="avista.errors?.['pattern']" class="alert alert-danger" role="alert" >Esse campo só aceita números.</p>
        </div>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder=" " formControlName="prazo" pattern>
        <label for="floatingInput">Preço A Prazo</label>
        <div *ngIf="prazo.invalid && formDir.submitted">
        <p *ngIf="prazo.errors?.['pattern']" class="alert alert-danger" role="alert" >Esse campo só aceita números.</p>
        </div>
      </div>

      <div class="form-floating">
        <textarea class="form-control" placeholder=" " id="floatingTextarea2" style="height: 100px" formControlName="observacao"></textarea>
        <label for="floatingTextarea2">Complemento:</label>
      </div>
      <label for="floatingTextarea2">Fornecedor:</label>
      <select class="form-select" aria-label="Default select example" formControlName="fornecedor_id" >
          <option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.id" >{{ fornecedor.nome }}</option>
      </select>
      <label for="floatingTextarea2">Favorito:</label>
      <select class="form-select" aria-label="Default select example" formControlName="favoritar" >
          <option [value]="1" > Sim </option>
          <option [value]="0" > Não </option>
      </select>
      <label for="floatingTextarea2">Característica:</label>
      <select class="form-select" aria-label="Default select example" formControlName="caracteristica" >
        <option > Tela </option>
        <option > Textura com brilho </option>
        <option > Textura sem brilho </option>
        <option > Tule </option>
        <option > Liso </option>
        <option > Estampado </option>
        <option > Platinado </option>
    </select>
      
    <p><ly-checkbox formControlName="uv">UV</ly-checkbox></p>
    <p><ly-checkbox formControlName="dry">DRY</ly-checkbox></p>
    <p><ly-checkbox formControlName="insect">INSECT</ly-checkbox></p>
    <p><ly-checkbox formControlName="smart">SMART</ly-checkbox></p>
    <p><ly-checkbox formControlName="defense">DEFENSE</ly-checkbox></p>
    <p><ly-checkbox formControlName="chlomax">CHLOMAX</ly-checkbox></p>
    <p><ly-checkbox formControlName="hydro">HYDRO</ly-checkbox></p>
    <p><ly-checkbox formControlName="eco">ECO</ly-checkbox></p>
    <p><ly-checkbox formControlName="shield">SHIELD</ly-checkbox></p>
    <p><ly-checkbox formControlName="undertech">UNDERTECH</ly-checkbox></p>
    <p><ly-checkbox formControlName="ultraflex">ULTRAFLEX</ly-checkbox></p>

    <p><ly-checkbox formControlName="durabilidade">DURABILIDADE</ly-checkbox></p>
    <p><ly-checkbox formControlName="toqueaveludado">TOQUE AVELUDADO</ly-checkbox></p>
    <p><ly-checkbox formControlName="respirabilidade">RESPIRABILIDADE</ly-checkbox></p>
    <p><ly-checkbox formControlName="duplaface">DUPLA FACE</ly-checkbox></p>
    <p><ly-checkbox formControlName="leveza">LEVEZA</ly-checkbox></p>
    <p><ly-checkbox formControlName="altacobertura">ALTA COBERTURA</ly-checkbox></p>
    <p><ly-checkbox formControlName="elasticidade">ELASTICIDADE</ly-checkbox></p>
    <p><ly-checkbox formControlName="secagemrapida">SECAGEM RÁPIDA</ly-checkbox></p>
    <p><ly-checkbox formControlName="toquegelado">TOQUE GELADO</ly-checkbox></p>
    <p><ly-checkbox formControlName="toquemacio">TOQUE MACIO</ly-checkbox></p>
    <p><ly-checkbox formControlName="toquedebrilho">TOQUE DE BRILHO</ly-checkbox></p>
    <p><ly-checkbox formControlName="zerotransparencia">ZERO TRANSPARÊNCIA</ly-checkbox></p>
    <p><ly-checkbox formControlName="naoesgarca">NÃO ESGARÇA</ly-checkbox></p>
    <p><ly-checkbox formControlName="naopinica">NÃO PINICA</ly-checkbox></p>
    <p><ly-checkbox formControlName="oekotex">OEKO-TEX</ly-checkbox></p>
    <p><ly-checkbox formControlName="compressao">COMPRESSÃO FIRME</ly-checkbox></p>
    <p><ly-checkbox formControlName="controledeodor">CONTROLE DE ODOR</ly-checkbox></p>

<!--
    <div class="mb-3">
        <label for="formFile" class="form-label">Foto do tecido:</label>
        <input class="form-control" type="file" id="formFile" (change)="OnFileSelected($event)">
      </div>
-->
      
      <input #_fileInput type="file" (change)="openCropperDialog($event)" accept="image/*" hidden>
      <a ly-button class="botao" (click)="_fileInput.click()" >
        <ly-icon [lyMf]="1">image</ly-icon>
        <span>Selecione a Imagem</span>
      </a>
      <div *ngIf="cropped"><img class="timg" [src]="cropped"></div>
      
      
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <div *ngIf="
    prazo.invalid || 
    avista.invalid || 
    prazodesenvolvimento.invalid ||
    prazoentrega.invalid ||
    rendimento.invalid || 
    gramatura.invalid || nome.invalid && formDir.submitted">
    <p class="alert alert-danger" role="alert" >
        Um ou mais campos foram preenchidos incorretamente durante o cadastro.</p>
     </div>
</form>
    <!--Fim Formulario--------------------------------->
    
</div>