.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-right: 10px;
}

.fa-icon {
  font-size: 20px;
  color: #444;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col-6 {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .col-md-4 {
    width: calc(20% - 20px);
    margin-right: 20px;
  }
}

.moment {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin-top: -10px;
}
img {
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
img:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/*
.moment:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
*/
.product-image {
  height: 150px;
  position: relative;
}

.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.moment-description {
  padding: 20px;
}

.moment-description h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.date {
  font-size: 14px;
  margin-bottom: 10px;
}

.btn-custom {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.btn-custom:hover {
  background-color: #222;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin-right: 10px;
}

.pagination li a {
  color: #444;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
}

.pagination li a:hover {
  background-color: #444;
  color: #fff;
  border-color: #444;
  cursor: pointer;
}

.alert-001 {
  color: #f00;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}
.alert-001 a {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}
.small-input input[type="number"],
.small-input input[type="text"] {
  width: 120px;
}
nav.form-nav {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

nav.form-nav label {
  width: 120px;
  margin-right: 10px;
}

nav.form-nav .form-group {
  display: inline-block;
  margin-right: 20px;
  width: calc(25% - 32px);
}

@media (max-width: 767px) {
  nav.form-nav .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.estrela {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: -10px;
  margin-left: 0;
}

button i {
  font-size: 24px;
  color: black;
}

button:hover i {
  transform: scale(1.2);
}
.luminous {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.checkbox {
    background-color: #e4e4e4;
    color: #000000;
    border: none;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    margin-right: 2px;
    margin-top: 2px;
  }
  
  .checkbox:hover {
    background-color: #b6b6b6;
    cursor: pointer;
  }