<div class="home-container">
    <h1>Tecidos</h1>
    <div class="search-container">
        <form>
            <input 
                type="text" 
                class="form-control" 
                id="formGroupExampleInput" 
                placeholder="Buscar por Tecido..."
                (input)="search($event)"
                >
            <fa-icon [icon]="faSearch"></fa-icon>
        </form>
    </div>
    <div *ngIf="tecidos.length>0; else noTecidos">
        <div class="moments-conteiner">
            <div class="moment" *ngFor="let tecido of tecidos">
                <img
                    src="{{baseApiUrl}}uploads/{{tecido.image}}"
                    alt="{{tecido.nome}}"
                />
                <h3>{{tecido.nome}}</h3>
                <p class="date">Em: {{tecido.created_at}}</p>
                <p>Composição: {{tecido.composicao}}</p>
                <p><a routerLink="{{tecido.id}}">Detalhes</a></p>
            </div>
        </div>
    </div>
    <ng-template #noTecidos>
        <h1>Não há Tecidos cadastrados!</h1>
    </ng-template>
</div>