<nav class="form-nav">
    <div class="form-group">
      <label for="minPrice">Preço mínimo:</label>
      <input type="number" class="form-control" id="minPrice" [(ngModel)]="minPrice" name="minPrice">
    </div>
    <div class="form-group">
      <label for="maxPrice">Preço máximo:</label>
      <input type="number" class="form-control" id="maxPrice" [(ngModel)]="maxPrice" name="maxPrice">
    </div>
    <div class="form-group">
      <label for="minGramatura">Gramatura mínima:</label>
      <input type="number" class="form-control" id="minGramatura" [(ngModel)]="minGramatura" name="minGramatura">
    </div>
    <div class="form-group">
      <label for="maxGramatura">Gramatura máxima:</label>
      <input type="number" class="form-control" id="maxGramatura" [(ngModel)]="maxGramatura" name="maxGramatura">
    </div>
  </nav>
  
  <div class="form-group">
    <label for="value">Buscar por Tecido:</label>
    <input type="text" class="form-control" placeholder="Buscar por Tecido..." [(ngModel)]="value" name="value">
  </div>

  <label for="floatingTextarea2">Fornecedor:</label>
  <select class="form-select" aria-label="Default select example" name="maxID" [(ngModel)]="maxID">
      <option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.id">{{fornecedor.nome}}</option>
  </select>
  <label for="floatingTextarea2">Favorito:</label>
  <select class="form-select" aria-label="Default select example" name="favorit" [(ngModel)]="favorit">
    <option [value]="1" > Favoritos </option>
    <option [value]="0" > Todos </option>
</select>

  <label for="floatingTextarea2">Característica:</label>
  <select class="form-select" aria-label="Default select example" name="caract" [(ngModel)]="caract">
    <option > Tela </option>
    <option > Textura com brilho </option>
    <option > Textura sem brilho </option>
    <option > Tule </option>
    <option > Liso </option>
    <option > Estampado </option>
    <option > Platinado </option>
</select>
  
  <button class="btn btn-primary" (click)="search($event)">Pesquisar</button>
<!---------------------------------------------------------->
<div class="home-container">
    <h1>Tecidos</h1>
    <div *ngIf="tecidos.length>0; else noTecidos">
        <div class="row">
            <div class="col-6 col-md-4" *ngFor="let tecido of tecidos | paginate: { itemsPerPage: 20, currentPage: page, totalItems: tecidos.length }">
                <!--routerLink="{{tecido.id}}"-->
                    <div class="product-image" routerLink="{{tecido.id}}">

                    <img src="{{baseApiUrl}}uploads/{{tecido.image}}" alt="{{tecido.nome}}"/>
                  </div>
                  <div class="moment">
                    <div class="moment-description">
                        <h4>{{tecido.nome.length > 10 ? tecido.nome.substr(0, 10) + '...' : tecido.nome}}</h4>
                        <p class="date">Em: {{tecido.created_at}}</p>
                        <p>Gramatura: {{tecido.gramatura}}</p>
                        <button *ngIf="!tecido.favoritar" class="estrela" (click)="editHandler(tecido)"><i class="bi bi-bookmark-star"></i></button>
                        <button *ngIf="tecido.favoritar" class="estrela " (click)="editHandler(tecido)"><i class="bi bi-bookmark-star-fill text-pink"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <ng-template #noTecidos>
        <h1>Tecido Não encontrado!</h1>
    </ng-template>
</div>
