<!-- 

GRADIENT BANNER DESIGN BY SIMON LURWER ON DRIBBBLE:
https://dribbble.com/shots/14101951-Banners

-->
<div class="main-container">
<!--
	<div class="heading">
	  <h1 class="heading__title">Gradient Banner Cards</h1>
	  <p class="heading__credits"><a class="heading__link">Design by Simon Lurwer on Dribbble</a></p>
	</div>
-->
	<div class="cards">
	  <div class="card card-1">
		<div class="card__icon"><i class="fas fa-bolt"></i></div>
		<p class="card__exit"><i class="fas fa-times"></i></p>
		<h2 class="card__title">Tecidos Cadastrados<p class="numb">{{tecidos.length}}</p></h2>
		<p class="card__apply">
		  <a class="card__link" routerLink="/pesquisa/tecido">Ir Para A Pagina De Tecidos<i class="fas fa-arrow-right"></i></a>
		</p>
	  </div>
	  <div class="card card-2">
		<div class="card__icon"><i class="fas fa-bolt"></i></div>
		<p class="card__exit"><i class="fas fa-times"></i></p>
		<h2 class="card__title">Fornecedores Cadastrados<p class="numb">{{fornecedores.length}}</p></h2>
		<p class="card__apply">
		  <a class="card__link" routerLink="/pesquisa/fornecedor">Ir Para A Pagina De Fornecedores<i class="fas fa-arrow-right"></i></a>
		</p>
	  </div>
	  <div class="card card-3">
		<div class="card__icon"><i class="fas fa-bolt"></i></div>
		<p class="card__exit"><i class="fas fa-times"></i></p>
		<h2 class="card__title">Para Cadastrar Um Novo Tecido, Clique Abaixo.</h2>
		<p class="card__apply">
		  <a class="card__link" routerLink="/cadastro/tecido">Cadastrar Novo Tecido <i class="fas fa-arrow-right"></i></a>
		</p>
	  </div>
	  <div class="card card-4">
		<div class="card__icon"><i class="fas fa-bolt"></i></div>
		<p class="card__exit"><i class="fas fa-times"></i></p>
		<h2 class="card__title">Para Cadastrar Um Novo Fornecedor, Clique Abaixo.</h2>
		<p class="card__apply">
		  <a class="card__link" routerLink="/cadastro/fornecedor">Cadastrar Novo Fornecedor <i class="fas fa-arrow-right"></i></a>
		</p>
	  </div><!--
	  <div class="card card-5">
		<div class="card__icon"><i class="fas fa-bolt"></i></div>
		<p class="card__exit"><i class="fas fa-times"></i></p>
		<h2 class="card__title">Ut aliquip ex ea commodo consequat. Duis aute irure dolor.</h2>
		<p class="card__apply">
		  <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
		</p>
	  </div>
	  <div class="card card-1">
		<div class="card__icon"><i class="fas fa-bolt"></i></div>
		<p class="card__exit"><i class="fas fa-times"></i></p>
		<h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
		<p class="card__apply">
		  <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
		</p>
	  </div>
	</div>
  </div>
  -->