h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2.2em;
}

h2 span {
    color: #dec129;
}

button {
    display: block;
    margin: 0 auto;
  }

  body {
    margin-bottom: 200px;
  }
  
.timg{
  height: 250px;
  width: 250px;
}

.botao{
  background-color: #dec129;
  align-items: center;
}

.checkbox {
  background-color: #e4e4e4;
  color: #000000;
  border: none;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  margin-right: 2px;
  margin-top: 2px;
}

.checkbox:hover {
  background-color: #b6b6b6;
  cursor: pointer;
}