<div class="product-details" *ngIf="fornecedor">
    <h1>{{fornecedor.nome}}</h1>

    <div class="product-image">
        <img src="{{baseApiUrl}}uploads/{{fornecedor.image}}" alt="{{fornecedor.nome}}">
    </div>
<!-- Large modal -->
<div type="button" z="10" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg"><i class="bi-arrows-fullscreen btn btn-custom"></i></div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <img src="{{baseApiUrl}}uploads/{{fornecedor.image}}" alt="{{fornecedor.nome}}">
    </div>
  </div>
</div>

    <div class="product-info">
        <div class="product-property">
            <div class="property-label">Nome do fornecedor:</div>
            <div class="property-value">{{fornecedor.nome}}</div>
        </div>
        <div class="product-property">
            <div class="property-label">Email:</div>
            <div class="property-value">{{fornecedor.email}}</div>
        </div>
        <div class="product-property">
            <div class="property-label">Telefone:</div>
            <div><span class="property-value">{{fornecedor.telefone}}</span></div>
        </div>
        <div class="product-property">
            <div class="property-label">WhatsApp:</div>
            <div><span class="property-value">{{fornecedor.whatsapp}}</span></div>
        </div>
        <div class="product-property">
            <div class="property-label">Endereço:</div>
            <div class="property-value">{{fornecedor.endereco}}</div>
        </div>
        <div class="product-property">
            <div class="property-label">Site:</div>
            <div class="property-value">{{fornecedor.site}}</div>
        </div>
    </div>

    <div class="actions">
        <a routerLink="/fornecedor/edit/{{fornecedor.id}}"  class="edit-btn btn btn-primary">
            <fa-icon [icon]="faEdit"></fa-icon> Editar
        </a>
        

        <button class="remove-btn btn btn-danger" (click)="exibirMensagemDeConfirmacao(fornecedor.id!)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <fa-icon [icon]="faTimes"></fa-icon> Excluir
        </button>
    </div>
</div>
