<div class="moment" *ngIf="fornecedor">
    <h1>{{fornecedor.nome}}</h1>



    <div class="about-moment">
        <h3>Nome do Fornecedor:</h3>
        <p>{{fornecedor.nome}}</p>
    </div>
    <div class="about-moment">
        <h3>Email:</h3>
        <p>{{fornecedor.email}}</p>
    </div>
    <div class="about-moment">
        <h3>Telefone:</h3>
        <p>{{fornecedor.telefone}}</p>
    </div>
    <div class="about-moment">
        <h3>WhatsApp:</h3>
        <p>{{fornecedor.whatsapp}}</p>
    </div>
    <div class="about-moment">
        <h3>Endereço:</h3>
        <p>{{fornecedor.endereco}}</p>
    </div>
    <div class="about-moment">
        <h3>Site:</h3>
        <p>{{fornecedor.site}}</p>
    </div>





    <div class="actions">
        <h3>Ações:</h3>
        <a routerLink="/fornecedor/edit/{{fornecedor.id}}" class="edit-btn">
            <fa-icon [icon]="faEdit"></fa-icon> Editar
        </a>
        <button class="remove-btn" (click)="removeHandler(fornecedor.id!)">
            <fa-icon [icon]="faTimes"></fa-icon> Exluir
        </button>
    </div>
</div>
